.mainPage{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 25px;
    justify-items: center;
    
}
.imageBox{
    background-color: gold;
}
.contentBox{
    background-color: red;
}
.button{
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    width: 25%;
    padding: 20px 30px;
    font-size: 1.5rem;
    background-color: rgb(39,44,58);
    text-align: center;
}
.button span{
    opacity: 0.5;
    transition: opacity 0.3s;
}
.button:hover span{
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .mainPage{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        row-gap: 10px;
    }
    .button{
        width: 100%;
    }
}