.extraInfo{
    position: fixed;
    display: grid;
    grid-template-rows: 15% auto;
    overflow-y: scroll;
    width: 90%;
    height: 70%;
    left: 1%;
    background-color: rgb(39,44,58);
    border: 5px solid #00ffa8;
    border-radius: 10px;
    padding: 15px;
    top: 10%;
}
.extraInfo .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content div{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px ;
    margin-bottom: 20px;
}
.content div span{
    background-color: rgba(25,28,37,1);
    padding: 10px 20px;
    border-radius: 10px;
}
.close{
    cursor: pointer;
}
.remove{
    color: tomato;
    cursor: pointer;
}
.remove{
    background-color: rgba(25,28,37,1);
    border: 0;
    outline: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    grid-column: span 2;
}

@media screen and (max-width: 768px) {
    .extraInfo{
        width:93%;
    }
}

@media screen and (max-width: 426px) {
    .extraInfo{
        width: 90%;
    }
    .content div{
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        row-gap: 5px;
    }
    .remove{
        width: 100%;
        height: fit-content;
    }
}
@media screen and (max-width: 376px) {
    .extraInfo{
        width: 87%;
    }
}