.extraUserInfo{
    overflow-y: scroll;
    overflow-x: scroll;
    position: fixed;
    display: grid;
    grid-template-rows: 15% auto auto;
    width: 90%;
    height: 70%;
    background-color: rgb(39,44,58);
    border: 5px solid #00ffa8;
    border-radius: 10px;
    padding: 15px;
    top: 10%;
    left: 2%;
    z-index: 100;
}
.center{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.extraUserInfo .extraUserHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extraUserInfo .smallHeading{
    font-size: 1.25rem;
    font-weight: 400;
    color: tomato;

}
.extraUserInfo  .close{
    margin-bottom: 10px;
    cursor: pointer;
}
.content{
    display: grid;
    grid-template-columns: 60% auto;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.extraUserInfo .extraUserHeading h1{
    font-size: 3rem;
    margin-top: 10px;
}
.content .data div{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin-bottom: 25px;
}
.content .data div span{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(25,28,37,1);
}
.buttonGroup{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.editInfoButtons img{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.editInfoButtons img:nth-child(1){
    background-color: #00ffa8;
}
.editInfoButtons img:nth-child(2){
    background-color: dodgerblue;
}
.editInfoButtons img:nth-child(3){
    background-color: tomato;
}
.projectDetails{
    width: 100%;
    height: 100%;
}
.projectDetails .project{
    display: grid;
    grid-template-rows: 25% 50% 25%;
    row-gap: 10px;
    margin-bottom: 100px;
}
.projectDetails .project div{
    background-color: rgba(25,28,37,1);
    padding: 10px 20px;
    border-radius: 10px;
}
.projectDetails .project div:nth-child(1),.project div:nth-child(3){
    overflow-x: scroll;
    overflow-y: hidden;
}
.project div:nth-child(2){
    word-break: break-all;
    overflow-y: scroll;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hidden{
    display: none;
}
.showAdd{
    border: 5px solid rgb(84, 147, 247);
}
.showDelete{
    border: 5px solid tomato;
}
.showEdit{
    border: 5px solid #00ffa8;
}
.showAdd,.showDelete,.showEdit{
    position: absolute;
    right: 1%;
    z-index:10;
    width: 40%;
    height: 45vh;
    background-color: rgba(25,28,37,1);
    border-radius: 10px;
    padding: 10px 20px;
}
.form form .formMain{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
}
.form form input, .form form textarea, .form form select{
    color: white;
    padding: 10px 20px;
    background-color: rgb(39,44,58);
    border: 0;
    outline: 0;
    border-radius: 10px;
    resize: none;
}
.buttons{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}
.buttons button[type="reset"]{
    background-color: grey;
}
.buttons button[type="submit"]{
    background-color: #00ffa8;
}
.buttons button{
    padding: 10px 20px;
    border-bottom: 10px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
}
.userIcon{
    display: block;
}
@media screen and (max-width: 768px) {
    .userIcon{
        display: none;
    }

}

@media screen and (max-width:426px) {
    .smallHeading{
        display: block;
    }
    .content .data div{
        grid-template-columns: auto;
        row-gap: 10px;
        grid-template-rows: auto auto;
    }
    .showAdd,.showDelete,.showEdit{
        right: auto;
        width: fit-content;
        height: fit-content;
    }
    .projectDetails{
        margin-top: 20px;
    }
    .extraUserHeading{
        margin-top: auto;
    }
    .heading{
        display: block;
    }
    .buttonGroup{
        justify-items: left;
        justify-content: left;
    }
    .extraUserInfo{
        width: fit-content;
        left: 2%;
    }
    .content{
        margin-top: 25%;
    }
}
@media screen and (max-width : 320px) {
    .content{
        margin-top: 35%;
    }
}