.itemSelection{
    display:grid;
    grid-template-columns: 13% 23% 13% 19.5% 19.5% auto;
    column-gap: 10px;
    margin-top: 25px;
    text-align: center;
}
.itemSelection div, .itemSelection button{
    background-color: rgb(39,44,58);
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.remove{
    font-size: 1rem;
    color: tomato;
    cursor: pointer;
}
.name{
    cursor: pointer;
}
@media screen and (max-width: 770px) {
    .itemSelection,  .items div{
        font-size: 0.75rem;
    }
    .itemSelection{
        display: grid;
        grid-template-columns: 50% auto;

    }
    .remove,.issueDate,.returnDate,.quantity{
        display: none;
    }
}