.itemSelection{
    display:grid;
    grid-template-columns: 13% 23% 13% 19.5% 19.5% auto;
    column-gap: 10px;
    margin-top: 25px;
    text-align: center;
}
.itemSelection div{
    background-color: rgb(39,44,58);
    padding: 10px 20px;
    border-radius: 10px;
}
.remove{
    color: tomato;
}
.name{
    cursor: pointer;
}
@media screen and (max-width: 770px) {
    .itemSelection,  .items div{
        font-size: 0.75rem;
    }
    .itemSelection{
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(2,50%);
        row-gap: 10px;
    }
}