.main{
    margin-top: 25px;
}
.itemSelection, .items .parentItem{
    display: grid;
    grid-template-columns: 10% 50% 20% auto;
    column-gap: 10px;
}
.items{
    margin-top: 20px;
}
.items .parentItem{
    margin-bottom: 10px;
}
.itemSelection div, .items .parentItem div{
    background-color: rgb(39,44,58);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
.itemList, .itemCard div{
    overflow-x: scroll;
}
.remove{
    color:tomato
}
.name{
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .itemList, .itemList div{
        font-size: 0.75rem;
    }
}