.navbar{
    background-color: rgb(39,44,58);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
.navbar .heading{
    display: flex;
    align-items: center;
}
.navbar .logo{
    width: 25%;
    height: 25%;
}
.navbar h1{
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.navbar ul li{
    padding-right: 25px;
}
.navbar ul li, .mobileNav ul li{
    opacity: 0.5;
    transition: opacity 0.3s;
}
.navbar ul :any-link, .mobileNav ul :any-link{
    color: white;
    text-decoration: none;
}
.navbar ul li:hover, .mobileNav ul li:hover{
    opacity: 1;
}
.menu{
    display: none;
}
.mobileNav{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    text-align: center;
    background-color: rgb(39,44,58);
    border-radius: 10px;
}
.mobileNav ul{
    list-style: none;
    padding-left: 0;
}
.mobileNav ul li{
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}
.hidden{
    display: none;
}
.notification{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .mobileNav{
        display: flex;
    }
    .items{
        display: grid;
    }
    .navbar ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .notification{
        display: none;
    }
}